body{
    color: #191919;
    margin: 0;
    padding: 0;
    font-family: 'Space Mono', monospace;
    font-size: 18px;
}

img{
    width: 300px;
}

p{
    color: black;
    padding: 2px;
    font-size: 18px;
    margin: 0;
}

h1 , h2{
    margin: 0;
    word-break: keep-all;
}

.ContentWrap{
    width: 900px;
    margin: 0 auto;
    padding: 60px 0;
}

/* Profile */
header {
    background: #FFCA99
}

/* Work Experience */
.work {
    background: #FF785A;
}
.floatimg{
    overflow: hidden;
    border-bottom: 10px groove orangered;
}

.floatimg img{
    float: left;
    margin: 20px;
}

/* Education */
.education {
    background: #FFD25A;
    margin: 0;
}
/* Contact Info */
footer {
    background: #98B6B1;
}